<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag  "store", :media => "all" %>
<h1>All Books</h1>
<%if session[:counter] > 5%>
There are <%=pluralize(session[:counter],'time')%>
<% end %>
<%@products.each do |product|%>
<div class="entry">
  <h2>
    <%=product.id%>
  	<%=product.title%>
  </h2>
  <%=sanitize(product.description)%>
  <div class="price_line">
    <span class="price">
      <%=number_to_currency(product.price,unit:"￥")%>
    </span>
    <%=button_to("添加到购物车",line_items_path(product_id:product))%>
  </div>
</div>
<%end%>