<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<%= stylesheet_link_tag  "store", :media => "all" %>
<h1>All Books</h1>
<%@products.each do |product|%>
<div class="entry">
  <h2>
    <%=product.title%>
  </h2>
  <%=sanitize(product.description)%>
  <div class="price_line">
    <span class="price">
      <%=number_to_currency(product.price,unit:"￥")%>
    </span>
    <form action="/line_items?product_id=<%=product.id%>" method="post" data-remote='true'>
      <input type="text" name="quantity" size="2" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
      <input type="submit" value="添加到购物车">
    </form>
  </div>
</div>
<%end%>